@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Yomogi&family=Zen+Tokyo+Zoo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --logo: "Zen Tokyo Zoo", cursive;
  --header: "Barlow", sans-serif;
  --para: "Yomogi", cursive;
  --theme: rgb(28 126 28);
  /* --theme: rgb(76, 236, 76); */
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}

/* styling for the header section ------------ */
.first-page {
  min-height: 100vh;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  margin: 20px 0 0 50px;
}
.logo h2,
.footer h3 {
  color: var(--theme);
  font-family: var(--logo);
  font-size: 1.5rem;
}
.btn-cta a,
.btn-cpn a {
  background: unset;
  border: 3px solid var(--theme);
  border-radius: 20px;
  color: var(--theme);
  font-family: var(--header);
  font-size: 1rem;
  text-decoration: none;
  padding: 8px;
}
.btn-cta a:hover,
.btn-cpn a:hover {
  background: var(--theme);
  color: whitesmoke;
}
.btn-cta {
  color: var(--theme);
  margin: 30px 30px 0 0;
}
.welcome-text {
  align-items: center;
  color: #141c3a;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}
.welcome-text h1 {
  font-size: 2rem;
  font-family: var(--header);
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center;
}
.welcome-text p {
  font-family: var(--para);
  font-size: 1.3rem;
  text-align: center;
}
.img-png {
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* margin-top: 11.6%; */
}
.img-png img {
  width: 100%;
  max-height: 100%;
}
.navbar {
  display: flex;
}
.hamburger {
  display: none;
}
.navbar ul {
  list-style: none;
  line-height: 1.5;
  margin: 25px 20px;
}
.nav-links {
  display: inline-block;
  padding: 0;
}

.nav-links a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--theme);
  font-size: 1.2rem;
  font-family: var(--header);
}
.nav-links:hover a {
  color: white;
  border-radius: 15px;
  background-color: var(--theme);
}

/* header responsiveness -------------------- */

@media screen and (max-width: 600px) {
  * {
    font-size: 18px;
  }

  .logo {
    margin: 10px 0 0 20px;
  }
  .logo h2 {
    font-size: 1.5rem;
  }

  .welcome-text h1 {
    font-size: 1.65rem;
  }
  .welcome-text p {
    font-size: 1.15rem;
    padding: 0 10px;
  }
  .img-png {
    height: unset;
    width: 80%;
    margin: 60% auto 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .first-page {
    min-height: 85vh;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    background-color: white;
    z-index: 3;
  }
  .header.collapse {
    position: static;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 66px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20% 0 0 0;
    clip-path: circle(3px at 90% -20%);
    pointer-events: none;
    -webkit-clip-path: circle(3px at 90% -20%);
    background-color: var(--theme);
    z-index: 20;
    transition: all 0.5s ease-out;
  }
  .hamburger {
    display: block;
    margin: 10px 20px 0 0;
  }
  #menu-icon {
    display: block;
    /* position: absolute; */
    font-size: 2rem;
    /* top: 15;
        right: 15; */
    cursor: pointer;
    color: var(--theme);
    z-index: 99;
  }
  .navbar.open {
    clip-path: circle(1500px at 90% 10%);
    -webkit-clip-path: circle(1500px at 90% 10%);
    pointer-events: all;
  }
  .navbar ul {
    margin: 20px 0 0;
  }
  .nav-links {
    display: block;
    padding: 20px 0;
  }
  .nav-links a {
    padding: 10px 20px;
    font-size: 1.4rem;
    color: white;
  }
  .nav-links:hover a {
    color: white;
    border-radius: 15px;
    background-color: var(--theme);
  }
  .navbar.close {
    clip-path: circle(3px at 90% -20%);
    -webkit-clip-path: circle(3px at 90% -20%);
    transition: all 0.5s ease-out 0.8s;
    pointer-events: none;
  }
  .btn-cta a {
    background: unset;
    border: 3px solid #141c3a;
    border-radius: 20px;
    color: #141c3a;
    font-family: var(--header);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px;
  }
  .btn-cta a:hover {
    background: #141c3a;
    color: whitesmoke;
  }
  .btn-cta {
    color: var(--theme);
    margin: 30px 0px 0 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .logo {
    margin: 10px 0 0 20px;
  }
  .logo h2 {
    font-size: 1.5rem;
  }

  .welcome-text {
    width: 90%;
    margin: 15vh auto;
  }
  .welcome-text h1 {
    font-size: 1.8rem;
  }
  .welcome-text p {
    font-size: 1.25rem;
  }
}

/* about section ---------- */
.text-div {
  background: linear-gradient(45deg, var(--theme), #a8e063);
  padding: 8rem 0 16rem 0;
}
.text-div div {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 60%;
}
.text-div div h3 {
  font-family: var(--header);
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}
.text-div div p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  font-family: var(--para);
}

.skill-div-container {
  background-color: #fff;
  box-shadow: -1px 11px 25px -13px rgba(56, 62, 58, 0.6);
  -webkit-box-shadow: -1px 11px 25px -13px rgba(56, 62, 58, 0.6);
  -moz-box-shadow: -1px 11px 25px -13px rgba(56, 62, 58, 0.6);
  /* height: 50vh; */
  border-radius: 10px;
  font-family: var(--para);
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -160px;
  width: 73vw;
  display: flex;
  flex-direction: row;
  /* box-shadow: var(--theme); */
}
.skill-div-container div {
  padding: 30px;
  width: inherit;
  border: 1px solid #f4f4f4;
}
.skill-div-container i {
  color: var(--theme);
  font-size: 2.5rem;
  padding-top: 30px;
}
.skill-div-container h4 {
  font-size: 1.2rem;
}
.themed-p {
  color: var(--theme);
  font-size: 1.1rem;
}
.skill-div-container i,
.skill-div-container p,
.skill-div-container h4 {
  margin: 0 0 25px;
  line-height: 1.5rem;
}
.skill-div-container ul li {
  list-style: none;
  padding: 5px 0;
}

/* intro section responsiveness ---------------- */
@media screen and (max-width: 600px) {
  .text-div {
    padding: 4rem 0 16rem 0;
  }
  .text-div div {
    width: 100%;
  }
  .text-div div h3 {
    font-size: 1.4em;
  }
  .text-div div p {
    font-size: 1.05rem;
    padding: 0 10px;
  }

  .skill-div-container {
    position: relative;
    top: -140px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .skill-div-container div {
    padding: 20px;
    width: 100%;
  }

  .skill-div-container h4 {
    font-size: 1.5rem;
  }
  .themed-p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .text-div {
    padding: 6rem 0 16rem 0;
  }
  .text-div div {
    width: 100%;
  }
  .text-div div h3 {
    font-size: 1.6em;
  }
  .text-div div p {
    font-size: 1.2rem;
    padding: 0 30px;
  }

  .skill-div-container {
    width: 90vw;
  }
}

/* footer section ----------- */
.my-projects {
  text-align: center;
  width: 100%;
}
.project-section-title {
  font-family: var(--header);
  font-size: 1.5rem;
  margin: 25px 0 10px;
}
.project-section-description,
.project-section-description a {
  font-family: var(--para);
  font-size: 1.1rem;
  margin: 0 0 50px;
}
.fig-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-around;
  overflow: hidden;
  width: 70%;
}
.figure {
  display: flex;
  width: 30%;
  position: relative;
  /* height: 20%; */
  border: 1px solid var(--theme);
  overflow: hidden;
  background-color: #2980b9;
  border-radius: 15px;
}
.figure img {
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.35s ease-in-out;
}
.figure:hover img {
  opacity: 0;
  transform: scale(1.15, 1.15);
}
figcaption {
  position: absolute;
  width: 100%;
  height: max-content;
  display: flex;
  transition: all 0.45s ease-in-out;
  opacity: 0;
}
figure:hover figcaption {
  opacity: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.45s ease-in-out;
  width: 100%;
  height: 500px;
  z-index: 5;
}
.fig-tool{
    margin-top: 10px;
    color: yellow;
}
.visit-site-btns{
    display: flex;
    column-gap: 10px;
}
.visit-site {
  /* border: 1px solid ; */
  border-radius: 15px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--theme);
  font-size: 1.2rem;
  margin: 15% auto 0;
  display: block;
  min-width: fit-content;
  width: 50%;
}
.visit-site:hover {
  background-color: var(--theme);
  color: white;
}
.caption {
  position: absolute;
  z-index: 10;
  margin-top: 20%;
  padding: 10%;
}
.fig-description {
  font-family: var(--para);
  color: white;
  font-size: 100%;
}
.btn-cpn {
  margin: 40px 0 150px;
}
/* project section responsiveness ----------- */
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .project-section-title {
    margin: 15px 0 10px;
  }
  .project-section-description,
  .project-section-description a {
    padding: 0 10px;
  }
  .fig-container {
    width: 90%;
  }
  .caption {
    margin-top: 20%;
    padding: 5px;
  }
  .fig-description {
    font-size: 0.7rem;
  }
  .visit-site {
    font-size: 0.8rem;
    border-radius: 25px;
  }
}
@media screen and (max-width: 600px) {
  .project-section-title {
    margin: 15px 0 10px;
  }
  .project-section-description,
  .project-section-description a {
    padding: 0 10px;
  }
  .fig-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
  }
  .visit-site-btns{
    /* display: flex; */
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.visit-site{
    margin: 0 auto;
}
  .figure {
    width: 100%;
    height: 275px;
  }
  .caption {
    padding: 3%;
    margin-top: 5%;
  }
  .btn-cpn a {
    font-size: 1.5rem;
    border-radius: 5px;
    color: whitesmoke;
    background-color: var(--theme);
  }
}

/* form styling ------------- */
.forms {
  display: none;
  margin: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  height: 90%;
  overflow: auto;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 20px;
  position: absolute;
  display: block;
  right: 0;
}

.close:hover,
.close:focus {
  color: rgb(248, 71, 71);
  text-decoration: none;
  cursor: pointer;
}
.form-note {
  text-align: center;
  font-family: var(--header);
  margin: 20px 0 80px 0;
  font-size: 1.7rem;
}
.form {
  width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.input-container {
  width: 280px;
}
.textarea-container {
  width: 100%;
  margin: 0 10px;
}
.input-area {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  border: 0.5px solid rgba(76, 236, 76, 0.4);
  border-radius: 5px;
  color: black;
  padding: 5px;
  outline: none;
}
.label {
  display: block;
  font-family: var(--header);
  font-size: 1.1rem;
  color: var(--theme);
  margin-bottom: 5px;
}
.textarea1 {
  display: block;
  height: 200px;
  resize: none;
}
.submit {
  padding: 10px 50px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid var(--theme);
  color: var(--theme);
  background-color: unset;
}
.submit:hover {
  color: white;
  background-color: var(--theme);
}
/* success response  */

#success {
  width: 100%;
  background-color: white;
  text-align: center;
}
#success p:nth-child(1) {
  color: green;
  font-size: 2.4rem;
  padding: 60px 0 30px 0;
  font-family: var(--header);
  font-style: italic;
}
#success p:nth-child(2) {
  font-size: 1.2rem;
  padding: 0 0 30px 0;
  font-family: var(--para);
  color: black;
}
#back {
  border: 2px solid var(--theme);
  padding: 5px 30px;
  border-radius: 17px;
  text-decoration: none;
  color: var(--theme);
  font-size: 1.2rem;
}
#back:hover {
  background-color: var(--theme);
  color: white;
}
@media screen and (max-width: 600px) {
  .input-container {
    width: 100%;
  }
  .textarea1 {
    height: 120px;
  }
  .textarea-container {
    margin: 0;
  }
  .form {
    width: 345px;
  }
  .form-note {
    margin: 30px 0 40px 0;
    font-size: 1.3rem;
  }
  .submit {
    padding: 10px 100px;
    margin: 0 0 20px 0;
    background-color: var(--theme);
    color: white;
  }
  .submit:hover {
    background-color: white;
    color: var(--theme);
  }
  #success p:nth-child(1) {
    font-size: 2.2rem;
  }
  #success p:nth-child(2) {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  #back {
    padding: 5px 50px;
    background-color: var(--theme);
    color: white;
    display: block;
    margin: 0 auto 10px auto;
    width: 80%;
  }
  #back:hover {
    color: var(--theme);
    background-color: white;
  }
}
/* footer section ---------- */
.footer {
  background: linear-gradient(45deg, var(--theme), #a8e063);
  width: 100%;
}
.start-a-project {
  background-color: #141c3a;
  border-radius: 15px;
  font-family: var(--para);
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -60px;
  width: 75%;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-evenly;
}
.sap-child {
  align-self: center;
  width: 30%;
  padding: 5px;
  font-family: var(--header);
  color: whitesmoke;
}
.sap-child:nth-child(1) {
  font-size: 1.5rem;
}
.sap-child:nth-child(2) {
  font-size: 1rem;
  font-family: var(--para);
}
.sap-child a {
  border: 2px solid var(--theme);
  font-size: 1.2rem;
  font-family: var(--header);
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 25px;
  border-radius: 20px;
}
.sap-child a:hover {
  background-color: var(--theme);
}
.footer h3 {
  color: whitesmoke;
  text-align: center;
  font-size: 2.1rem;
}
.footnote {
  text-align: center;
  color: rgb(247, 240, 247);
  font-size: 1.3rem;
  font-family: var(--para);
}
.footnote1 {
  margin: 30px 0 0 0;
}
.footnote2,
.footnote3 {
  font-size: 1rem;
}
.footnote3 {
  padding: 10 0 80px 0;
  margin-bottom: 20px;
}
.contact-icons {
  margin: 30px auto;
  text-align: center;
}
.contact-btn {
  font-size: 5rem;
  color: floralwhite;
  display: inline-block;
  padding: 16px 20px;
  border-radius: 2px;
  transition: transform 0.3s ease-out;
  margin-top: 10px;
}
.contact-btn i {
  font-size: 1.6rem;
}
.contact-btn:hover {
  transform: translateY(5px);
}

/* footer responsiveness ----------- */

@media screen and (max-width: 600px) {
  .start-a-project {
    position: relative;
    top: -50px;
    width: 96%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    padding: 5px;
  }
  .sap-child {
    width: 100%;
  }
  .sap-child:nth-child(1) {
    font-size: 1.7rem;
  }
  .sap-child:nth-child(2) {
    font-size: 1.3rem;
  }
  .sap-child a {
    font-size: 1.4rem;
    padding: 15px 25px;
    border-radius: 30px;
  }

  .footer h3 {
    font-size: 1.9rem;
  }

  .footnote3 {
    padding: 10 0 80px 0;
  }

  .contact-icons {
    margin: 15px auto;
  }
  .contact-btn {
    padding: 10px 13px;
    margin-top: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .start-a-project {
    width: 90%;
  }

  .sap-child:nth-child(1) {
    font-size: 1.1rem;
  }
  .sap-child:nth-child(2) {
    font-size: 0.85rem;
  }
  .sap-child a {
    font-size: 1rem;
    font-size: 0.89rem;
    padding: 13px 16px;
  }
  .footer h3 {
    font-size: 1.8rem;
  }
  .footnote {
    font-size: 1rem;
  }
}

/* scrollbar customization */

::-webkit-scrollbar {
  width: 10px;
  background-color: #eff1f5;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background-color: #5a6072;
  border: 2px solid #eff1f5;
}
